.sa-icon {
    margin-bottom: 35px !important;
}

div.sweet-alert > p.lead {
    margin-bottom: 10px !important;
}

input.input-validate {
    background-color: beige;
}

select.input-validate {
    background-color: beige;
}

.invalid {
    box-shadow: 0 0 5px 1px red;
}

@media only screen and (max-width: 600px) {
    /* Hace que las celdas de la tabla ocupen todo el ancho de la pantalla */
    #tablaProductosRecibidos, #tablaProductosRecibidos thead, #tablaProductosRecibidos tbody, #tablaProductosRecibidos th, #tablaProductosRecibidos td, #tablaProductosRecibidos tr {
        display: block;
    }

        /* Oculta los encabezados de la tabla */
        #tablaProductosRecibidos thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        /* Establece el ancho de las celdas */
        #tablaProductosRecibidos td {
            width: 100%;
        }

        /* Establece estilos específicos para cada fila */
        #tablaProductosRecibidos tr {
            border: 1px solid #ccc;
        }
}

.left-sidebar.active .sidebar-buttons .btn span {
    display: none;
}

.left-sidebar.active .sidebar-buttons .btn {
    justify-content: center;
    text-align: center;
}


/* Estilo del scrollbar solo dentro del contenedor lateral */
.sidebar-container {
    overflow-y: auto;
}

    /* Estilo para navegadores basados en WebKit (Chrome, Safari, Edge) */
    .sidebar-container::-webkit-scrollbar {
        width: 8px; /* Ancho del scrollbar */
    }

    .sidebar-container::-webkit-scrollbar-track {
        background-color: #1f2937; /* Color de fondo del track */
    }

    .sidebar-container::-webkit-scrollbar-thumb {
        background-color: #3b82f6; /* Color del "pulgar" o scroll */
        border-radius: 10px; /* Bordes redondeados */
    }

        .sidebar-container::-webkit-scrollbar-thumb:hover {
            background-color: #2563eb; /* Color al hacer hover sobre el scroll */
        }

/* Estilos adicionales para Firefox */
.sidebar-container {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #1f2937; /* Color del thumb y del track */
}

/* Para que no haya scroll horizontal */
.sidebar-container {
    overflow-x: hidden;
}
