@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{

    <link href="~/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/responsive.datatables.min.css" rel="stylesheet">


}

<div class="row">
    <div class="col-sm-12">

        <div class="card card-default">
            <div class="col-md-12">
                <div class="card-header card-header-border-bottom">
                    <div class="row col-md 1">
                        <h4>Productos</h4>
                    </div>
                    <div class="row col-md-11 d-flex flex-row-reverse bd-highlight">
                        <button class="btn btn-success btn-sm ms-3" id="btnNewProduct">Nuevo Producto</button>

                        <button class="btn btn-info btn-sm" id="btnEditAll" onclick="editAll()">Editar Seleccion</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbData" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="checkbox" id="chkSelectAll">
                                </th>
                                <th>Foto</th>
                                <th>Proveedor</th>
                                <th>Descripción</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Grid Modal -->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGridTitle">Detalle de productos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row hideAllEdit">
                                <div class="form-group col-sm-7">
                                    <label for="txBarCode">BarCode</label>
                                    <input type="text" class="form-control form-control-sm" id="txtBarCode" name="BarCode">
                                </div>
                                <div class="form-group col-sm-5">
                                    <label for="cboProveedor">Proveedor</label>
                                    <select class="form-control form-control-sm input-validate" id="cboProveedor">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row hideAllEdit">
                                <div class="form-group col-sm-12">
                                    <label for="txtDescription">Descripcion</label>
                                    <input type="text" class="form-control form-control-sm input-validate" id="txtDescription" name="Description">
                                </div>
                            </div>
                            <div class="form-row hideAllEdit">
                                <div class="form-group col-sm-4">
                                    <label for="cboCategory">Categoria</label>
                                    <select class="form-control form-control-sm" id="cboCategory">
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtQuantity">Cantidad</label>
                                    <input type="number" class="form-control form-control-sm input-validate" id="txtQuantity" name="Quantity">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="cboTipoVenta">Tipo Venta</label>
                                    <select class="form-control form-control-sm  input-validate" id="cboTipoVenta" style="background-color: beige">
                                        <option value="1">Kg</option>
                                        <option value="2">Unidad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="txtCosto">Costo</label>
                                    <input type="number" class="form-control form-control-sm" id="txtCosto" name="Costo">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtProfit">Ganancia %</label>
                                    <input type="number" class="form-control form-control-sm" id="txtProfit" name="Profit">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtPrice">Precio</label>
                                    <input type="number" class="form-control form-control-sm input-validate" id="txtPrice" name="Price">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtPriceWeb">Precio Web</label>
                                    <input type="number" class="form-control form-control-sm" id="txtPriceWeb" name="PriceWeb">
                                </div>
                            </div>
                            <div class="form-row hideAllEdit" id="divModif">
                                <div class="form-group col-sm-6">
                                    <label for="txtModificado">Fecha Modificado</label>
                                    <input type="text" class="form-control form-control-sm" id="txtModificado" name="fechaModificado" readonly>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtModificadoUsuario">Por:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtModificadoUsuario" name="usuarioModificado" readonly>
                                </div>
                            </div>
                            <div class="form-row" id="listProd">
                                <div class="form-group col-sm-6">
                                    <h5 for="listProductosEditar">
                                        Productos a Modificar:
                                    </h5>
                                    <br />
                                    <div id='listProductosEditar'></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-md-7">
                                <label for="cboState">Estado</label>
                                <select class="form-control form-control-sm" id="cboState">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactrivo</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="hideAllEdit">
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="txtPhoto">Foto</label>
                                            <input class="form-control-file" type="file" id="txtPhoto" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <img id="imgProduct" style="max-width:200px;" src="" class="rounded mx-auto d-block" alt="Photo Product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSave">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/plugins/data-tables/jquery.datatables.min.js"></script>
    <script src="~/plugins/data-tables/datatables.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/datatables.responsive.min.js"></script>


    <script src="~/plugins/data-tables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/data-tables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/jszip.min.js"></script>
    <script src="~/plugins/data-tables/buttons.html5.min.js"></script>
    <script src="~/plugins/data-tables/buttons.print.min.js"></script>

    <script src="~/js/views/InventoryProducts.js"></script>
}
