@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS {

    <link href="~/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/responsive.datatables.min.css" rel="stylesheet">
    <link href="~/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">

}


<style>

    .vencidoClass {
        background-color: #ff757538;
    }

    .proximoClass {
        background-color: lightyellow;
    }

    .aptoClass {
        background-color: #90ee9078;
    }

    #tablaContainer td:nth-last-child(-n+5) {
        border: 2.3px dotted lightslategray;
    }


    #tablaContainer > table{
        border-collapse: collapse;
        width: 100%;
    }

        #tablaContainer > table th,
        #tablaContainer > table td{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        #tablaContainer > table tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #tablaContainer > table td.editable{
            cursor: pointer;
        }

            #tablaContainer > table td.editable:focus{
                outline: 1px solid blue;
            }
</style>

<div class="row">
    <div class="col-sm-12">


        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <div>
                    <h4>Productos</h4>
                </div>
                <div class="ms-auto bd-highlight">
                    <button class="btn btn-primary btn-sm" id="btnEditAll" onclick="editAll()">Editar Seleccion</button>

                    <button class="btn btn-info btn-sm ms-4 " id="btnEditAll" onclick="imprimirPrecios()">Imprimir Precio</button>

                    <button class="btn btn-secondary btn-sm ms-4 " id="bntModalImportar">Importar</button>

                    <button class="btn btn-success btn-sm ms-4 " id="btnNewProduct">Nuevo Producto</button>

                </div>
            </div>

            <div class="card-body" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <input type="checkbox" id="chkSelectAll">
                                    </th>
                                    @* <th>Foto</th> *@
                                    <th>Descripción</th>
                                    <th>Categoria</th>
                                    <th>Proveedor</th>
                                    <th>Precio (1)</th>
                                    <th>Precio (2)</th>
                                    <th>Web</th>
                                    <th>Fecha Modific.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card-body" style="padding-bottom: 0px;">
                <div class="card-header card-header-border-bottom" style="padding-top: 0px;padding-left: 0px;">
                    <div class="row col-md 3">
                        <h4>Vencimientos</h4>
                        <div class="row ms-5" id="rowFilterVencimientos">
                            <div class="ms-3 h4">
                                <input type="radio" id="rbtnTodos" name="filtroVencimientos" class="filtro-vencimientos" value="0">
                                <label for="rbtnTodos" style="font-size: 13px;">Todos</label>
                            </div>
                            <div class="ms-3 h4">
                                <input type="radio" id="rbtnProximosVencer" name="filtroVencimientos" class="filtro-vencimientos" value="1" checked />
                                <label for="rbtnProximosVencer" style="font-size: 13px;">Proximos a Vencer</label>
                            </div>
                            <div class="ms-3 me-5 h4">
                                <input type="radio" id="rbtnVencidos" name="filtroVencimientos" class="filtro-vencimientos" value="2">
                                <label for="rbtnVencidos" style="font-size: 13px;">Vencidos</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style=" padding-left: 0px;padding-right: 0px;padding-top: 15px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tbDataVencimientos" class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Fecha Vencimiento</th>
                                        <th>Producto</th>
                                        <th>Fecha Elaboracion</th>
                                        <th>Lote</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de productos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtDescription">Descripcion</label>
                                    <input type="text" class="form-control form-control-sm input-validate" id="txtDescription" name="Description">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="cboCategory">Categoria</label>
                                    <select class="form-control form-control-sm" id="cboCategory" style="background-color: beige">
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txBarCode">BarCode</label>
                                    <input type="text" class="form-control form-control-sm" id="txtBarCode" name="BarCode">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-2">
                                    <label for="txBarCode">Costo</label>
                                    <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtCosto" name="Costo">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="txtCosto">IVA</label>
                                    <select class="form-control form-control-sm" id="txtIva">
                                        <option value="0">0 %</option>
                                        <option value="10.5">10,5 %</option>
                                        <option value="21">21 %</option>
                                        <option value="27">27 %</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="cboProveedor">Proveedor</label>
                                    <select class="form-control form-control-sm" id="cboProveedor">
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="cboTipoVenta">Tipo Venta</label>
                                    <select class="form-control form-control-sm  input-validate" id="cboTipoVenta" style="background-color: beige">
                                        <option value="1">Kg</option>
                                        <option value="2">Unidad</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="cboState">Estado</label>
                                    <select class="form-control form-control-sm" id="cboState">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactrivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="txtPhoto">Foto</label>
                                        <input class="form-control-file" type="file" id="txtPhoto" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <img id="imgProduct" style="max-width:80px;" src="" class="rounded mx-auto d-block" alt="Photo Product">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 row" style="margin-bottom: 0px;">
                            <div class="col-md-6">
                                <div class="form-row" style="margin-bottom: -20px;">
                                    <div class="form-group col-sm-5">
                                        <label for="txtProfit2">Ganancia %</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfit" name="Profit">
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <label for="txtPrice">Precio (1)</label>
                                        <div class="input-group  input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <a class="input-group-text" for="txtPrice" id="btnCalcPrecio" onclick="calcularPrecio('')">Calc.</a>
                                            </div>
                                            <input type="number" step="any" class="form-control form-control-sm input-validate" min="0" id="txtPrice" name="Price">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row" style="margin-bottom: -20px;">
                                    <div class="form-group col-sm-5">
                                        <label for="txtProfit2">Ganancia %</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfit2" name="Profit">
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <label for="txtPrice2">Precio (2)</label>
                                        <div class="input-group  input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <a class="input-group-text" for="txtPrice2" id="btnCalcPrecio" onclick="calcularPrecio(2)">Calc.</a>
                                            </div>
                                            <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtPrice2" name="Price2">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-5">
                                        <label for="txtProfit3">Ganancia %</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfit3" name="Profit">
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <label for="txtPrice3">Precio (3)</label>
                                        <div class="input-group  input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <a class="input-group-text" for="txtPrice3" id="btnCalcPrecio" onclick="calcularPrecio(3)">Calc.</a>
                                            </div>
                                            <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtPrice3" name="Price3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="card shadow">
                                    <div class="card-header py-2">
                                        <h4>Venta Web</h4>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-md-12">
                                            <div class="form-row">
                                                <div class="col-sm-5">
                                                    <label for="txtAumento">Aumento</label>
                                                    <input class="form-control form-control-sm" id="txtAumento" name="Aumento" disabled>
                                                </div>
                                                <div class="col-sm-7">
                                                    <label for="PriceWeb">Precio Web</label>
                                                    <div class="input-group  input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <a class="input-group-text" for="PriceWeb" id="btnCalcPrecioWeb" onclick="calcularPrecioWeb()">Calc.</a>
                                                        </div>
                                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtPriceWeb" name="PriceWeb">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="txtAumento">Comentario</label>
                                            <input type="text" class="form-control form-control-sm" id="txtComentario" name="Comentario">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-row" id="divModif">
                                    <div class="form-group col-sm-6">
                                        <label for="txtModificado">Fecha Modificado</label>
                                        <input type="text" class="form-control form-control-sm" id="txtModificado" name="fechaModificado" readonly>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtModificadoUsuario">Por:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtModificadoUsuario" name="usuarioModificado" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtQuantity">Stock Actual</label>
                                        <input type="number" min="0" class="form-control form-control-sm" id="txtQuantity" name="Quantity">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtMinimo">Stock Minimo</label>
                                        <input type="number" class="form-control form-control-sm" min="0" id="txtMinimo" name="stock minimo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-header py-2">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <h4>Vencimientos</h4>
                                                <button class="btn accordion-button btn-success btn-sm" style="margin-left:10px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-md-12">
                                            <div class="card-body" style="padding: 0px;">

                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table id="tbVencimientos" class="table table-sm table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Vencimiento</th>
                                                                        <th>Elaborado</th>
                                                                        <th>Lote</th>
                                                                        <th>Notif.</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="form-group col-sm-12">

                                                        <div class="accordion-body">
                                                            <div class="form-row row" style="margin-bottom: -14px;">
                                                                <div class="form-group col-sm-3">
                                                                    <label for="fVencimiento">Vencimiento</label>
                                                                    <input type="text" class="form-control form-control-sm" id="txtfVencimiento" name="vencimiento">
                                                                </div>
                                                                <div class="form-group col-sm-3">
                                                                    <label for="fElaborado">Elaborado</label>
                                                                    <input type="text" class="form-control form-control-sm" id="txtfElaborado" name="elaborado">
                                                                </div>
                                                                <div class="form-group col-sm-3">
                                                                    <label for="lote">Lote</label>
                                                                    <input type="text" class="form-control form-control-sm" id="txtLote" name="lote">
                                                                </div>
                                                                <div class="col-sm-3" style="align-self: center;">
                                                                    <button class="btn btn-success btn-sm" id="btnAddVencimiento">Agregar</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSave">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<!-- Grid Modal MASIVO -->
<div class="modal fade" id="modalDataMasivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalGridq" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edicion Masiva</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Edicion por tabla</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Edicion Masiva</button>
                    </li>
                </ul>

                <!-- Tabs content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br />

                        <div id="tablaContainer">
                            <table id="tablaProductosEditar">
                                <thead>
                                    <tr>
                                        <th hidden title="id">Id</th>
                                        <th>Productos</th>
                                        <th title="costo">Costo</th>
                                        <th title="precio1">Precio 1</th>
                                        <th title="precio2">Precio 2</th>
                                        <th title="precio3">Precio 3</th>
                                        <th title="precioWeb">Precio Web</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <br />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnSaveMasivoTabla">Guardar Cambios</button>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <br />
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="txtProfit">Ganancia %</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfitMasivo" name="Profit">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtPriceMasivo">Precio (1)</label>
                                        <div class="input-group  input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <a class="input-group-text" for="txtPriceMasivo" id="btnCalcPrecio" onclick="calcularPrecio()">Calc.</a>
                                            </div>
                                            <input type="number" step="any" class="form-control form-control-sm input-validate-masivo" min="0" id="txtPriceMasivo" name="Price">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="txtCosto">Costo</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtCostoMasivo" name="Costo">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="cboStateMasivo">Estado</label>
                                        <select class="form-control form-control-sm" id="cboStateMasivo">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactrivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtPorPorcentajeMasivo">Por %</label>
                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtPorPorcentajeMasivo" name="Porcentaje">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <div class="col-md-5">
                                    <div class="form-row">
                                        <div class="form-group col-sm-4">
                                            <label for="txtProfit2">Ganancia %</label>
                                            <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfit2Masivo" name="Profit">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="txtPrice2">Precio (2)</label>
                                            <div class="input-group  input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <a class="input-group-text" for="txtPrice2" id="btnCalcPrecio" onclick="calcularPrecio(2)">Calc.</a>
                                                </div>
                                                <input type="number" step="any" class="form-control form-control-sm input-validate-masivo" min="0" id="txtPrice2Masivo" name="Price2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-4">
                                            <label for="txtProfit3">Ganancia %</label>
                                            <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtProfit3Masivo" name="Profit">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="txtPrice3">Precio (3)</label>
                                            <div class="input-group  input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <a class="input-group-text" for="txtPrice3" id="btnCalcPrecio" onclick="calcularPrecio(3)">Calc.</a>
                                                </div>
                                                <input type="number" step="any" class="form-control form-control-sm input-validate-masivo" min="0" id="txtPrice3Masivo" name="Price3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="form-group col-sm-4">
                                    <div class="card shadow">
                                        <div class="card-header py-2">
                                            <h4>Venta Web</h4>
                                        </div>
                                        <div class="card-body row">
                                            <div class="col-md-12">
                                                <div class="form-row">
                                                    <div class="col-sm-4">
                                                        <label for="txtAumentoMasivo">Aumento %</label>
                                                        <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtAumentoMasivo" name="Aumento" disabled>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label for="txtPriceWebMasivoMasivo">Precio Web</label>
                                                        <div class="input-group  input-group-sm mb-3">
                                                            <div class="input-group-prepend">
                                                                <a class="input-group-text" for="txtPriceWebMasivo" id="btnCalcPrecioWebMasivo" onclick="calcularPrecioWeb()">Calc.</a>
                                                            </div>
                                                            <input type="number" step="any" class="form-control form-control-sm" min="0" id="txtPriceWebMasivo" name="PriceWeb">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row text-center col-md-3" id="listProd">
                                    <div style="margin-left: 10px;">
                                        <h5 for="listProductosEditar">
                                            Productos a Modificar:
                                        </h5>
                                        <br />
                                        <div id='listProductosEditar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnSaveMasivo">Guardar Cambios</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Grid Modal Imprimir Tickets -->
<div class="modal fade" id="modalDataImprimirPrecios" tabindex="-1" role="dialog" aria-labelledby="exampleModalGridq" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imprimir Precios</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-row col-md-12">
                            <div class="form-group">
                                <label for="cboListaPrecio">Precio</label>
                                <select class="form-control" id="cboListaPrecio">
                                    <option value="1">Lista 1</option>
                                    <option value="2">Lista 2</option>
                                    <option value="3">Lista 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switchUltimaModificacion">
                                    <label class="form-check-label" for="switchUltimaModificacion">Fecha de modificacion</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switchCodigoBarras">
                                    <label class="form-check-label" for="switchCodigoBarras">Codigo de barras</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center col-md-5">
                        <div style="margin-left: 10px;">
                            <h5 for="listProdImprimir">
                                Productos:
                            </h5>
                            <br />
                            <div id='listProdImprimir'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnImprimir">Imprimir</button>
            </div>
        </div>
    </div>
</div>


<!-- Grid Modal Importar -->
<div class="modal fade" id="modalImpprtar" tabindex="-1" role="dialog" aria-labelledby="exampleModalGridq" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importar Productos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>

                    <div class="row mb-3">
                        <label for="txtRutaImportar" class="col-sm-2 col-form-label">Ubicacion Archivo</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="txtRutaImportar" placeholder=".xlsx / .csv">
                        </div>
                        <button class="btn btn-secondary btn-sm" id="btnCargarImportar">Cargar</button>
                        <div class="col-sm-3" style="text-align: center;">
                            <label id="lblCantidadProds" class="col-form-label"></label>
                        </div>
                    </div>

                    <table id="tableImportarProductos" class="table table-striped" style="font-size: 12px;width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Descripcion*</th>
                                <th>Cod. Barras</th>
                                <th>Forma de Venta*</th>
                                <th>Costo</th>
                                <th>Ganancia 1</th>
                                <th>Precio 1*</th>
                                <th>Ganancia 2</th>
                                <th>Precio 2</th>
                                <th>Ganancia 3</th>
                                <th>Precio 3</th>
                                <th>Precio Web</th>
                                <th>Proveedor</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnImportar">Importar</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/plugins/data-tables/jquery.datatables.min.js"></script>
    <script src="~/plugins/data-tables/datatables.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/datatables.responsive.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>


    <script src="~/plugins/data-tables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/data-tables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/jszip.min.js"></script>
    <script src="~/plugins/data-tables/buttons.html5.min.js"></script>
    <script src="~/plugins/data-tables/buttons.print.min.js"></script>

    <script src="~/js/views/InventoryProducts.js"></script>
}
