@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<div class="row col-md-12">

    <div class="col-md-1 d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row col-md-11 d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-success btn-sm ms-3" id="btnNuevoGasto"><i class="mdi mdi-cash-multiple mdi-24px"></i>&nbsp;Nuevo Gasto</button>

        @*<button class="btn btn-info btn-sm" id="btnNuevoPagoProveedor"><i class="mdi mdi-account-minus mdi-24px"></i>&nbsp;Pago Proveedor</button>*@
    </div>
</div>

<!-- Dias Semana Mes -->
<div class="row">
    <div class="ms-3 h4">
        <input type="radio" name="radioButton" id="rbtnDia" onclick="changeChart(0)">
        <label for="rbtnDia">
            Dia
        </label>
    </div>
    <div class="ms-3 h4">
        <input type="radio" name="radioButton" id="rbtnSemana" onclick="changeChart(1)" checked>
        <label for="rbtnSemana">
            Semana
        </label>
    </div>
    <div class="ms-3 h4">
        <input type="radio" name="radioButton" id="rbtnMes" onclick="changeChart(2)">
        <label for="rbtnMes">
            Mes
        </label>
    </div>
</div>


<!-- Content Row -->
<div class="row">

    <!-- Total de ventas -->
    <div class="col-xl-4 col-md-7 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                            <div class="col me-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total ventas
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="txtTotalSale"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                            </div>

                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <br />
                                <div id="charTipoVentas"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Clientes -->
    <div class="col-xl-2 col-md-5 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="col me-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Clientes
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="txtCantidadClientes"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Gastos -->
    <div class="col-xl-4 col-md-7 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                            <div class="row g-0 align-items-center">
                                <div class="col me-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Gastos
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="txtTotalGastos"></div>
                                    <p style="font-style: italic; font-size:12px;" class="text-muted">Proveedores + Gastos</p>
                                    <p style="font-style: italic; font-size:12px;" class="text-muted" id="gastoTexto"></p>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGastos">
                                <div class="accordion-body">
                                    <br />
                                    <div id="charGastos"></div>
                                    <br />
                                    <div id="charGastosProveedor"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Total de Ganancias -->
    <div class="col-xl-2 col-md-5 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        <div class="col me-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Ganancia
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="txtGanancia"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tags fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart - Ventas de los ultimos 7 días -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6>Ventas</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @*                <div class="chart-area" style="height: 350px !important;">
                <canvas id="charSales"></canvas>
                </div>*@
                <div id="chartVentas"></div>

            </div>
        </div>
    </div>

    <!-- Productos más vendidos-->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6>Top Venta de Productos <i class="mdi mdi-fire mdi-24px"></i></h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="input-group input-group-sm mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="cboCategory">Categoria</label>
                    </div>
                    <select class="form-control form-control-sm" id="cboCategory">
                    </select>
                </div>
                <div class="row justify-content-md-center">
                    <div class="chart-pie">
                        <table border="0">
                            <tbody id="tableTopSeller">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid Modal Gastos -->
<div class="modal fade" id="modalNuevoGasto" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalGridTitle">Ingresar Nuevo Pago </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtNombrePago">Tipo</label>
                                    <select class="form-control form-control-sm input-validate" id="cboTipoDePago" style="background-color: beige">
                                        <option value="1">Gasto</option>
                                        <option value="2">Pago de Proveedor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row pago-gasto">
                                <div class="form-group col-sm-6">
                                    <label for="cboTipoDeGastoEnGasto">Tipo de Gasto</label>
                                    <select class="form-control form-control-sm input-validate" id="cboTipoDeGastoEnGasto">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtGasto">Tipo</label>
                                    <input type="text" class="form-control form-control-sm" id="txtGasto" name="Gastos" disabled>
                                </div>
                            </div>
                            <div class="form-row pago-proveedor" style="display: none;">
                                <div class="form-group col-sm-4">
                                    <label for="txtNombrePago">Nombre</label>
                                    <select class="form-control form-control-sm input-validate" id="cboProveedor" style="background-color: beige">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtCuilPago">Cuil</label>
                                    <input type="text" class="form-control form-control-sm" id="txtCuilPago" name="Cuil" disabled>
                                </div>
                                <div class="form-group col-sm-5">
                                    <label for="txtDireccionPago">Direccion</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDireccionPago" name="Direccion" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-2">
                                    <label for="cboTipoFactura">Tipo</label>
                                    <select class="form-control form-control-sm" id="cboTipoFactura" name="Tipo Factura">
                                        <option value=""></option>
                                        <option value="0">A</option>
                                        <option value="1">B</option>
                                        <option value="2">C</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-10">
                                    <label for="txtNroFactura">Nro Factura</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNroFactura" name="Factura">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-2">
                                    <label for="txtIva">IVA</label>
                                    <input type="number" step="any" class="form-control form-control-sm" id="txtIva" name="IVA">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtImporte">Importe</label>
                                    <input type="number" step="any" class="form-control form-control-sm input-validate-proveedor" style="background-color: beige" id="txtImporte" name="Importe">
                                </div>
                                <div class="form-group col-sm-2">
                                    <br />
                                    <a class="btn btn-secondary" onclick="calcularImportesProv()">Calular</a>
                                </div>
                                <div class="form-group col-sm-5 pago-gasto">
                                    <label for="cboUsuario">Usuario</label>
                                    <select class="form-control form-control-sm" id="cboUsuario">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtImporteIva">Importe IVA</label>
                                    <input type="number" step="any" class="form-control form-control-sm" id="txtImporteIva" name="Importe IVA">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtImporteSinIva">Importe sin IVA</label>
                                    <input type="number" step="any" class="form-control form-control-sm" id="txtImporteSinIva" name="Importe sin IVA">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtComentario">Comentario</label>
                                    <input type="text" class="form-control form-control-sm" id="txtComentario" name="Comentario">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSavePagoProveedor">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/plugins/charts/Chart.min.js"></script>
    <script src="~/js/views/AdminDashBoard.js"></script>
    <script src="~/plugins/apexcharts/js/apexcharts.min.js"></script>

    }
