<!-- Grid Modal Cerrar Turno Simple-->
<div class="modal fade" id="modalDataCerrarTurnoSimple" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Finalizar Turno</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-sm-5">
						<div>
							<div class="form-group col-sm-7">
								<label for="txtInicioTurnoCierreSimple">Fecha</label>
								<input type="text" class="form-control form-control-sm" id="txtInicioTurnoCierreSimple" name="Fecha" disabled>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="form-group col-sm-6">
								<label for="txtHoraInicioTurnoCierreSimple">Hora de Inicio</label>
								<input type="text" class="form-control form-control-sm" id="txtHoraInicioTurnoCierreSimple" name="Hora del turno" disabled>
							</div>
							<div class="form-group col-sm-6">
								<label for="txtInicioTurnoCierreSimple">Hora de Cierre</label>
								<input type="text" class="form-control form-control-sm" id="txtCierraTurnoCierreSimple" name="Hora del turno de cierre" disabled>
							</div>
						</div>
						<div class="col-sm-12" style="display:none" id="divObservacionesAperturaSimple">
							<div class="form-row">
								<div class="form-group col-sm-12">
									<label for="txtObservaciones">Observaciones a la apertura</label>
									<textarea class="form-control" id="txtObservacionesAperturaSimple" rows="2" placeholder="..." disabled></textarea>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-row">
								<div class="form-group col-sm-12">
									<label for="txtObservacionesSimple">Observaciones al Cierre</label>
									<textarea class="form-control" id="txtObservacionesCierreSimple" rows="4" placeholder="..."></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-7" style="padding-left: 0;">
						<div class="form-row">
							<div class="card-body" style="padding-top: 0;">
								<div>
									<h3 for="contMetodosPagoLayoutSimple" class="form-label text-center">Ventas</h3>
								</div>
								<br />
								<div id="contMetodosPagoLayoutSimple"></div>

								<div class="form-group row align-items-center" style="margin-bottom:2px">
									<label class="col-sm-7 col-form-label" style="font-size: 20px; padding-right: 0px; padding-top: 0px;">Total Usuario:</label>
									<div class="col-sm-5" style="padding-right: 0px; padding-left: 0px;">
										<div class="input-group input-group-sm" style="margin-top: 0px;">
											<div class="input-group-prepend">
												<span class="input-group-text">$</span>
											</div>
											<input type="number" step="any" class="form-control form-control-sm" min="0" value="0"  style="text-align: end;" id="txtTotalDiferenciaCaja">
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="modal-footer">
				<div class="form-check form-switch text-center me-3" id="divSwitchCierreCajaSimple">
					<input class="form-check-input" type="checkbox" role="switch" id="switchCierreCajaSimple" checked>
					<label class="form-check-label" for="switchCierreCajaSimple" style="font-size: large;">Imprimir cierre de caja</label>
				</div>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="btnFinalizarTurnoSimple">Finalizar Turno</button>
			</div>
		</div>
	</div>
</div>

<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/views/simpleCierreTurno.js"></script>
