@using PointOfSale.Models;
@model VMShop;
@{
	ViewData["Title"] = "Terminos y condiciones";
	Layout = "~/Views/Shop/Componentes/_LayoutWeb.cshtml";
}

<body class="goto-here" style="overflow-x: hidden">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center">
					<h2 class="mb-4">
						Terminos y condiciones
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="">
						@Html.Raw(Model.TemrinosCondiciones)
					</div>
				</div>
			</div>
		</div>
	</section>
</body>