@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

<p>
    Acceso <strong>denegado</strong> a la aplicación.
</p>
<p>
    <strong>Comunicarse con el administrador.</strong>
</p>
