@{
    ViewData["Title"] = "Error";
    Layout = "";
}

<h1 class="">Error.</h1>

<p>
    La web <strong>no se encuentra disponible</strong> en este momento.
</p>
<p>
    Disculpe las molestias.
</p>
