@using PointOfSale.Models;
@model List<VMProduct>;
@{
    ViewData["Title"] = "Lista";
    Layout = "";
}


<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/shop/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/shop/animate.css">

<link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/shop/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/shop/magnific-popup.css">

<link rel="stylesheet" href="~/css/shop/aos.css">

<link rel="stylesheet" href="~/css/shop/ionicons.min.css">

<link rel="stylesheet" href="~/css/shop/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/shop/jquery.timepicker.css">


<link rel="stylesheet" type="text/css" href="~/css/shop/flaticon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/icomoon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/style.css">

<html lang="es">
<head>
    <title>OLIVA - Mercado Natural</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>

        #btnCompras {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 2px;
            padding: 18px 30px;
            position: fixed;
            bottom: 40px;
            right: 40px;
            transition: all 300ms ease 0ms;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            z-index: 99;
        }

            #btnCompras:hover {
                background-color: #2c2fa5;
                box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
                transform: translateY(-7px);
            }

    </style>

</head>
<body class="goto-here">
    <p><button href="#" class="btn btn-primary" id="btnCompras"><span class="icon-shopping_cart"></span> Terminar [0]</button></p>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container justify-content-center align-items-center">
            <a href="/Shop/Index" class="navbar-brand">OLIVA  Mercado Natural</a>
        </div>
    </nav>
    <hr />
    <section class="ftco-section">
        <div class="container">
            <div class="row">

                @foreach (var prod in Model.OrderBy(_ => _.Description))
                {
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="#" class="img-prod" style="height: 190px; width:auto;">
                                <img class="img-fluid" src="data:image/png;base64,@prod.PhotoBase64" alt="Colorlib Template">
                                @*<span class="status">30%</span>*@
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <hr />
                                <h3><a href="#">@prod.Description</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">$@prod.Price</span><span class="price-sale">$@prod.PriceWeb</span></p>
                                        <small>@prod.Description</small> @*comentario*@
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" style="background: red;">
                                            <span>-</span>
                                        </a>
                                        <a href="#" class="remove-to-cart buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span>+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <hr>

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/shop/jquery.min.js"></script>
    <script src="~/js/shop/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/shop/popper.min.js"></script>
    <script src="~/js/shop/bootstrap.min.js"></script>
    <script src="~/js/shop/jquery.easing.1.3.js"></script>
    <script src="~/js/shop/jquery.waypoints.min.js"></script>
    <script src="~/js/shop/jquery.stellar.min.js"></script>
    <script src="~/js/shop/owl.carousel.min.js"></script>
    <script src="~/js/shop/jquery.magnific-popup.min.js"></script>
    <script src="~/js/shop/aos.js"></script>
    <script src="~/js/shop/jquery.animateNumber.min.js"></script>
    <script src="~/js/shop/bootstrap-datepicker.js"></script>
    <script src="~/js/shop/scrollax.min.js"></script>
    <script src="~/js/shop/google-map.js"></script>
    <script src="~/js/views/shop.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=yourMapsAPIKey&libraries=geometry"></script>

</body>
</html>