@using PointOfSale.Models;
@model VMShop;
@{
	ViewData["Title"] = "Politicas de privacidad y cookies";
	// Layout = "";
	Layout = "~/Views/Shop/_LayoutWeb.cshtml";
}


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">
					Politicas de privacidad y cookies
				</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				texto de Politicas de privacidad y cookies

			</div>
		</div>
	</div>
</section>