@{
    ViewData["Title"] = "NewSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet">

    <style>
        .select2 {
            width: 100% !important;
        }

    </style>
}

@*<div>
    <button id="btn-add-tab" type="button" class="btn btn-primary pull-right">Nueva Venta</button>
</div>*@

<ul class="nav nav-tabs d-lg-flex" id="tab-list" role="tablist">
    <button id="btn-add-tab" type="button" class="btn btn-primary pull-right rounded-circle me-2"><i class="mdi mdi-plus"></i></button>

    <li class="nav-item" role="presentation" hidden>
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home <a class="close" type="button" title="Remove this page">×</a> </button>
    </li>
</ul>

<div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" hidden>

        <div class="row" id="nuevaVenta">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4>Productos</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <select class="form-control form-control-sm" id="cboSearchProduct">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-sm" id="tbProduct">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4>Detalles</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="cboTypeDocumentSale">Tipo</label>
                                    </div>
                                    <select class="form-control" id="cboTypeDocumentSale">
                                    </select>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Total</span>
                                    </div>
                                    <input type="text" class="form-control text-end" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <!-- Acordeon -->
                        <div class="accordion-item">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">

                                    <!-- Cabecera -->
                                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4>Cuenta Corriente Clientes</h4>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                            <!-- Cuerpo -->
                                            <select class="form-control form-control-sm" id="cboCliente">
                                                <option value=""></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-sm-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="form-check">
                                    <label class="form-label">
                                        <input type="checkbox" id="cboImprimirTicket" checked>
                                        Imprimir Ticket
                                    </label>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-success btn-sm w-100 finalizeSale" id="btnFinalizeSale">Finalizar venta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/plugins/select2/js/select2.js"></script>

    <script src="~/js/views/SalesNewSale.js"></script>
    }

