@{
    ViewData["Title"] = "NewSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet">

    <style>
        .select2 {
            width: 100% !important;
        }

        .fontDetalles {
            font-size: 18px;
        }
    </style>
}

<ul class="nav nav-tabs d-lg-flex" id="tab-list" role="tablist">
    <a id="btn-add-tab" href="#" class="text-primary me-2">
        <i class="mdi mdi-36px mdi-plus-circle"></i>
    </a>

    <li class="nav-item" role="presentation" hidden>
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home <span class="close" type="button" title="Remove this page">×</span> </button>
    </li>
</ul>

<div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" hidden>

        <div class="row" id="nuevaVenta">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4>Productos</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control form-control-sm" id="cboSearchProduct">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="row col-md-6">
                                        <div class="form-group col-sm-6">
                                            <input type="number" step="any" min="0" class="form-control form-control-sm" id="txtPeso" name="Peso" autofocus style="border-color: darkgray;">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <button class="btn btn-info btn-sm w-100" id="btnAgregarProducto">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-sm" id="tbProduct">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <label id="lblCantidadProductos" class="fontDetalles"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4>Detalles</h4>
                            </div>
                            <div class="card-body">
                                <div class="d-flex bd-highlight">
                                    <div class="me-auto bd-highlight">
                                        <label class="fontDetalles" for="txtSubTotal">Subtotal: </label>
                                    </div>
                                    <div class="bd-highlight">
                                        <label class="fontDetalles" id="txtSubTotal" style="font-weight: bold;">$0 </label>
                                    </div>
                                </div>
                                <div class="d-flex bd-highlight">
                                    <div class="me-auto bd-highlight">
                                        <label class="fontDetalles" for="txtPromociones">Promociones: </label>
                                    </div>
                                    <div class="bd-highlight">
                                        <label class="fontDetalles" id="txtPromociones" style="font-weight: bold;">$0 </label>
                                    </div>
                                </div>

                                <div class="d-flex bd-highlight">
                                    <div class="me-auto bd-highlight row" style="margin-left: 0px;">
                                        <label class="fontDetalles" for="cboDescRec">Desc. / Rec. </label>
                                        <select class="fontDetalles form-control ms-3" id="cboDescRec" style="max-width: 55%; font-size: 14px;">
                                            <option value="0"></option>
                                            <option value="-10">Descuento -10 %</option>
                                            <option value="10">Recargo 10 %</option>
                                        </select>
                                    </div>
                                    <div class="bd-highlight">
                                        <label class="fontDetalles" id="txtDescRec" style="font-weight: bold;color: gray;">$0 </label>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="font-size: 30px;">Total &nbsp;</span>
                                    </div>
                                    <input type="text" class="form-control text-end" id="txtTotal" style="font-size: 40px;" value="$0" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-body py-3">
                                <button class="btn btn-success w-100 finalizarSaleParcial" id="btnFinalizeSaleParcial">Finalizar venta</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- Acordeon -->
                        <div class="accordion-item">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">

                                    <!-- Cabecera -->
                                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4>Cuenta Corriente Clientes</h4>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                            <!-- Cuerpo -->
                                            <select class="form-control form-control-sm" id="cboCliente">
                                                <option value=""></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal Dividir pago-->
<div class="modal fade" id="modalDividirPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div class="p-2 bd-highlight">
                    <h5 class="modal-title">Finalizar</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <label id="txtSumaSubtotales" class="text-danger" style="display: none;"></label>
                    <input type="number" min="0" id="txtTotalView" hidden>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row" id="rowDividirPago">
                        <div class="col-md-12 d-flex justify-content-center">
                        </div>
                        <div class="col-sm-12" id="formaDePagoPanel">
                            <div class="card-body ">
                                <div class="card shadow row">
                                    <div class="form-row" style="padding:0px 12px 4px 12px;">
                                        <div class="form-group col-sm-5" style="padding-top:10px">
                                            <label for="cboTypeDocumentSaleParcial">Forma de Pago</label>
                                            <select class="form-control cboFormaDePago" id="cboTypeDocumentSaleParcial">
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-5" style="padding-top:10px">
                                            <label for="txtTotalParcial">Sub Total</label>
                                            <div class="input-group mb-3">
                                                <input type="number" min="0" class="form-control text-end inputSubtotal" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotalParcial">
                                                <div class="input-group-prepend">
                                                    <a class="input-group-text btn calcSubTotales" id="btnCalcSubTotales">Calc.</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group col-sm-2" style="align-self: center; text-align: end;">
                                            <button id="btnAddNuevaFormaDePago" class="pull-right me-2 btnAddFormaDePago text-success">
                                                <i class="mdi mdi-36px mdi-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex bd-highlight">
                <div class="me-auto p-2 bd-highlight">
                    <label class="form-label">
                        <input type="checkbox" id="cboImprimirTicket" checked>
                        Imprimir Ticket
                    </label>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnFinalizarVentaParcial">Finalizar venta</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/plugins/select2/js/select2.js"></script>

    <script src="~/js/views/SalesNewSale.js"></script>
    }

