@{
    ViewData["Title"] = "SalesHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{
    <link href="~/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
}
<div id="txtSaleNumberByClient" style="display:none">
    @ViewData["saleNumber"]
</div>
<div class="card shadow mb-4">
    <div class="card-header d-flex align-items-center">
        <h4 class="col-md-4">Reporte de Ventas</h4>
        <span class="text-danger" id="lblErrorPrintService" style="display: none;"><i class="mdi mdi-alert mdi-24px"></i>&nbsp; El servicio de impresión no se encuentra conectado</span>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-sm-3">
                <label for="cboSearchBy">Search by</label>
                <select class="form-control" id="cboSearchBy">
                    <option value="date">Dia</option>
                    <option value="number">Num. de venta</option>
                </select>
            </div>
            <div class="form-group col-sm-2 search-date">
                <label for="txtStartDate">Fecha Inicio</label>
                <input type="text" class="form-control" id="txtStartDate">
            </div>
            <div class="form-group col-sm-2 search-date">
                <label for="txtEndDate">Fecha Fin</label>
                <input type="text" class="form-control" id="txtEndDate">
            </div>
            <div class="form-group col-sm-4 search-sale">
                <label for="txtSaleNumberSearch">Numero de Venta</label>
                <input type="text" class="form-control" id="txtSaleNumberSearch">
            </div>
            <div class="form-group col-sm-3 search-date" style="text-align: center;">
                <label for="rowFilterDia">Presupuestos</label>
                <div class="row mt-2" id="rowFilterDia">
                    <div class="ms-3 h4">
                        <input type="radio" name="radioButton" id="incluir" class="filtro-presupuesto">
                        <label for="incluir">
                            Incluir
                        </label>
                    </div>
                    <div class="ms-3 h4">
                        <input type="radio" name="radioButton" id="noIncluir" class="filtro-presupuesto" checked>
                        <label for="noIncluir">
                            No incluir
                        </label>
                    </div>
                    <div class="ms-3 me-5 h4">
                        <input type="radio" name="radioButton" id="solamente" class="filtro-presupuesto">
                        <label for="solamente">
                            Solamente
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-1" style="align-self: end;">
                <button class="btn btn-success" type="button" id="btnSearch"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>
        <div class="d-flex justify-content-center  search-date">
            <a href="#" onclick="setToday()">Hoy</a>
        </div>

        <div class="row">
            <div class="offset-md-3 col-md-3">
                <label id="lblCantidadVentas" style="font-size: 18px;"></label>
            </div>
            <div class="offset-md-1 col-md-3">
                <label id="lbltotal" style="font-size: 18px;"></label>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" id="tbsale">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Numero de Venta</th>
                            <th>Forma de Pago</th>
                            <th>Cantidad de Productos</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle de Venta</h6>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="txtRegistrationDate">Fecha</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegistrationDate" disabled>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="txtSaleNumber">Num. Venta</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSaleNumber" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtRegisterUser">Registrado por</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegisterUser" disabled>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="txtClientName">Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtClientName" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentType">Forma de Pago</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentType" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentType">Desc. / Rec.</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" id="txtDescRec" style="text-align: right;" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtImporteIva">Importe</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" id="txtTotal" style="text-align: right;" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProducts" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @* <a href="#" class="btn btn-primary" target="_blank" id="linkPrint">PDF</a> *@
                <button class="btn btn-info" type="button" id="printTicket">Ticket</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form>
                    <div class="row" id="rowDividirPago">
                        <div class="col-md-12 d-flex justify-content-center">
                        </div>
                        <div class="col-sm-12" id="formaDePagoPanel">
                            <div class="card-body ">
                                <div class="card shadow row">
                                    <div class="form-row" style="padding:0px 12px 4px 12px;">
                                        <div class="form-group col-sm-5" style="padding-top:10px">
                                            <label for="cboTypeDocumentSaleParcial">Forma de Pago</label>
                                            <select class="form-control cboFormaDePago" id="cboTypeDocumentSale">
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-5" style="padding-top:10px">
                                            <label for="txtTotalParcial">Total</label>
                                            <div class="input-group mb-3">
                                                <input class="form-control text-end inputSubtotal" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotalParcial" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex bd-highlight">
                <div class="bd-highlight">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnFinalizar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>

    <script src="~/plugins/printService.js"></script>
    <script src="~/js/views/layout.js"></script>
    <script src="~/js/views/SalesHistorySale.js"></script>
 }