
@{
    ViewData["Title"] = "SalesHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{
    <link href="~/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
}

<div class="card shadow mb-4">
     <div class="card-header py-3">
         <h6>Sale History</h6>
     </div>
     <div class="card-body">
         <div class="form-row align-items-end">
             <div class="form-group col-sm-3">
                 <label for="cboSearchBy">Search by</label>
                 <select class="form-control" id="cboSearchBy">
                         <option value="date">Dates</option>
                         <option value="number">Sale Number</option>
                 </select>
             </div>
             <div class="form-group col-sm-3 search-date">
                  <label for="txtStartDate">Start Date</label>
                  <input type="text" class="form-control" id="txtStartDate">
              </div>
              <div class="form-group col-sm-3 search-date">
                  <label for="txtEndDate">End Date</label>
                  <input type="text" class="form-control" id="txtEndDate">
              </div>
              <div class="form-group col-sm-3 search-sale">
                  <label for="txtSaleNumberSearch">Sale Number</label>
                  <input type="text" class="form-control" id="txtSaleNumberSearch">
              </div>
             <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block" type="button" id="btnSearch"><i class="fas fa-search"></i> Search</button>
             </div>
         </div>

         <hr/>
         <div class="row">
             <div class="col-sm-12">
                 <table class="table table-striped" id="tbsale">
                     <thead>
                         <tr>
                             <th>Registration date</th>
                             <th>Sale Number</th>
                             <th>Document Type</th>
                             <th>Client Document</th>
                             <th>Client name</th>
                             <th>Total</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                     </tbody>
                 </table>
             </div>

         </div>
     </div>
 </div>

 <!--  Modal-->
 <div class="modal fade" id="modalData" tabindex="-1" role="dialog"aria-hidden="true" data-backdrop="static">
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h6>Sale Detail</h6>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">
                 <form>
                     <div class="row">
                         <div class="col-sm-12">
                             <div class="form-row">
                                 <div class="form-group col-sm-4">
                                     <label for="txtRegistrationDate">Registration date</label>
                                     <input type="text" class="form-control form-control-sm" id="txtRegistrationDate" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtSaleNumber">Sale Number</label>
                                     <input type="text" class="form-control form-control-sm" id="txtSaleNumber" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtRegisterUser">Register User</label>
                                     <input type="text" class="form-control form-control-sm" id="txtRegisterUser" disabled>
                                 </div>
                             </div>
                             <div class="form-row">
                                 <div class="form-group col-sm-4">
                                     <label for="txtDocumentType">Document Type</label>
                                     <input type="text" class="form-control form-control-sm" id="txtDocumentType" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtClientDocument">Client Document</label>
                                     <input type="text" class="form-control form-control-sm" id="txtClientDocument" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtClientName">Client name</label>
                                     <input type="text" class="form-control form-control-sm" id="txtClientName" disabled>
                                 </div>
                             </div>
                             <div class="form-row">
                                 <div class="form-group col-sm-4">
                                     <label for="txtSubTotal">Sub Total</label>
                                     <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtTaxes">Taxes</label>
                                     <input type="text" class="form-control form-control-sm" id="txtTaxes" disabled>
                                 </div>
                                 <div class="form-group col-sm-4">
                                     <label for="txtTotal">Total</label>
                                     <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-12">
                                     <table id="tbProducts" class="table table-sm table-striped">
                                         <thead>
                                             <tr>
                                                 <th>Product</th>
                                                 <th>Quantity</th>
                                                 <th>Price</th>
                                                 <th>Total</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </form>
             </div>
             <div class="modal-footer">
                 <a href="#" class="btn btn-primary"  target="_blank" id="linkPrint" >Print</a>
                 <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>

 @section Scripts{

    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>

    <script src="~/js/views/SalesHistorySale.js"></script>
 }