@{
    ViewData["Title"] = "Tiendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StylesPOS{

    <link href="~/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/data-tables/responsive.datatables.min.css" rel="stylesheet">


}

<div class="row">
    <div class="col-sm-12">

        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <div>
                    <h4>Tiendas</h4>
                </div>
                <div class="ms-auto bd-highlight">
                    <button class="btn btn-success" id="btnNew">Nueva Tienda</button>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Description</th>
                                    <th>Telefono</th>
                                    <th>Direccion</th>
                                    <th>Principal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid Modal -->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalGridTitle">Detalle Tiendas</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-2">

                        <!-- Nav pills -->
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="pill" href="#general" id="clickGeneral">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#facturacion" id="clickFacturacion">Facturacion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#carroCompras" id="clickWeb">Web</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab panes -->
                    <div class="col-md-10" style="min-height: 250px;">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="general">

                                <input type="hidden" value="0" id="txtId">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="txtDescription">Nombre</label>
                                            <input type="text" class="form-control form-control-sm input-validate" id="txtNombre" name="Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="form-check">
                                            <br />
                                            <label class="form-label">
                                                <input type="checkbox" id="cboPrincipal">
                                                Principal
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtTelefono">Telefono</label>
                                            <input type="text" class="form-control form-control-sm" id="txtTelefono" name="Telefono">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="txtDireccion">Direccion</label>
                                            <input type="text" class="form-control form-control-sm" id="txtDireccion" name="Direccion">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="txtEmail">Email</label>
                                            <input type="text" class="form-control form-control-sm" id="txtEmail" name="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtImpresora">Nombre Impresora de Ticket</label>
                                            <input type="text" class="form-control form-control-sm" id="txtImpresora" name="Impresora Ticket">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-row">
                                            <div class="form-group">
                                                <label for="txtPhoto">Logo</label>
                                                <input class="form-control-file" type="file" id="txtLogo" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <img id="imgTienda" style="max-width:200px;" src="" class="rounded mx-auto d-block" alt="Imagen Tienda">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="facturacion">..22222222.</div>
                        <div class="tab-pane container fade" id="carroCompras">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtEnvioGratis">Minimo envios gratis</label>
                                        <input type="text" class="form-control form-control-sm" id="txtEnvioGratis" name="EnvioGratis">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="txtWhatsApp">WhatsApp</label>
                                        <input type="text" class="form-control form-control-sm" id="txtWhatsApp" name="WhatsApp">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="txtAumento">% de Aumento</label>
                                        <input type="text" class="form-control form-control-sm" id="txtAumento" name="Aumento">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Horario</label>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtLunes" class="col-form-label">Lunes</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtLunes" name="Lunes">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtMartes" class="col-form-label">Martes</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtMartes" name="Martes">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtMiercoles" class="col-form-label">Miercoles</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtMiercoles" name="Miercoles">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtJueves" class="col-form-label">Jueves</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtJueves" name="Jueves">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtViernes" class="col-form-label">Viernes</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtViernes" name="Viernes">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtSabado" class="col-form-label">Sabado</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtSabado" name="Sabado">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtDomingo" class="col-form-label">Domingo</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtDomingo" name="Domingo">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtFeriados" class="col-form-label">Feriados</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtFeriados" name="Feriados">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Redes Sociales</label>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtFacebook" class="col-form-label">Facebook</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtFacebook" name="Facebook">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtInstagram" class="col-form-label">Instagram</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtInstagram" name="Instagram">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtTikTok" class="col-form-label">TikTok</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtTikTok" name="Tik Tok">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtTwitter" class="col-form-label">Twitter</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtTwitter" name="Twitter">
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="txtYouTube" class="col-form-label">YouTube</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="txtYouTube" name="YouTube">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" id="divModif">
                    <div class="form-group col-sm-6">
                        <label for="txtModificado">Fecha Modificado</label>
                        <input type="text" class="form-control form-control-sm" id="txtModificado" name="fechaModificado" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="txtModificadoUsuario">Por:</label>
                        <input type="text" class="form-control form-control-sm" id="txtModificadoUsuario" name="usuarioModificado" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSave">Guardar Cambios</button>
            </div>
        </div>



        <form>
        </form>

    </div>
</div>
</div>
</div>


@section Scripts{
    <script src="~/plugins/data-tables/jquery.datatables.min.js"></script>
    <script src="~/plugins/data-tables/datatables.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/datatables.responsive.min.js"></script>


    <script src="~/plugins/data-tables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/data-tables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/data-tables/jszip.min.js"></script>
    <script src="~/plugins/data-tables/buttons.html5.min.js"></script>
    <script src="~/plugins/data-tables/buttons.print.min.js"></script>

    <script src="~/js/views/tienda.js"></script>
}

