@using PointOfSale.Models;
@model List<VMNotifications>;
@{
	Layout = null;
}

@section StylesPOS {

	<link href="~/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet">
	<link href="~/plugins/data-tables/buttons.bootstrap4.min.css" rel="stylesheet">
	<link href="~/plugins/data-tables/responsive.datatables.min.css" rel="stylesheet">
}

@if (Model.Any())
{
	<ul id="listaNotificaciones" class="dropdown user-menu show" style="align-content: center; margin-right: 20px;">
		<button href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
			<i class="mdi mdi-bell mdi-24px"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" style="width: fit-content; border-color: lightgray; min-width: 380px; max-height: 450px; overflow-y: auto;max-width: 600px">
			@foreach (var n in Model)
			{
				<li class="dropdown-header" style="padding: 0px;margin: 0;">
					<div class="d-inline-block" style="width: 100%">
						<a class="notificacion" id="@n.IdNotifications" accion="@n.Accion" href="#">
							@Html.Raw(n.Descripcion)
							<small class="pt-1">@n.RegistrationDate</small>
						</a>
						<span></span>
					</div>
				</li>
			}
			@if (ViewData["userRol"] != null && (Convert.ToInt32(ViewData["userRol"]) == 1))
			{
				<li style="padding: 0px;width: max-content;margin: 0;">
					<a id="limpiarNotificaciones" href="#">
						<i class="mdi mdi-delete me-1"></i>Limpiar todo
					</a>
				</li>
			}
		</ul>
	</ul>
}


@section Scripts {
	<script src="~/plugins/data-tables/jquery.datatables.min.js"></script>
	<script src="~/plugins/data-tables/datatables.bootstrap4.min.js"></script>
	<script src="~/plugins/data-tables/datatables.responsive.min.js"></script>


	<script src="~/plugins/data-tables/dataTables.buttons.min.js"></script>
	<script src="~/plugins/data-tables/buttons.bootstrap4.min.js"></script>
	<script src="~/plugins/data-tables/jszip.min.js"></script>
	<script src="~/plugins/data-tables/buttons.html5.min.js"></script>
	<script src="~/plugins/data-tables/buttons.print.min.js"></script>

	<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
	<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
	<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

	<script src="~/js/views/notificationsComponents.js"></script>
}

